<?xml version="1.0"?>
<robot name="alu_profil_f20_black" xmlns:xacro="http://ros.org/wiki/xacro">	

	<include filename="$(find raw_gazebo_objects)/common/templates/box.urdf.xacro" />

	<xacro:box_template name="alu_profil_f20_black" length="0.1" width="0.02" height="0.02" color="Gazebo/Black" />
 
</robot>
