<?xml version="1.0"?>
<launch>
	<param name="T" type="double" value="0.2"/>
	<param name="dt" type="double" value="0.1"/>
	
	<node pkg="youbot_navigation_common" type="lowpass_filter" respawn="false" name="lowpass_filter" output="screen"/>

	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
	        <rosparam file="$(find raw_2dnav)/ros/config/move_base_params.yaml"  	command="load" />
		<rosparam file="$(find raw_2dnav)/ros/config/costmap_common_params.yaml" 	command="load" ns="global_costmap" />
		<rosparam file="$(find raw_2dnav)/ros/config/costmap_common_params.yaml" 	command="load" ns="local_costmap" />
		<rosparam file="$(find raw_2dnav)/ros/config/local_costmap_params.yaml" 	command="load" />
		<rosparam file="$(find raw_2dnav)/ros/config/global_costmap_params.yaml" 	command="load" />
		<rosparam file="$(find raw_2dnav)/ros/config/base_local_planner_params.yaml" command="load" />
	</node>
</launch>
