<?xml version="1.0"?>
<launch>
	<arg name="map" default="$(find youbot_default_env_config)/$(env ROBOT_ENV)/map.yaml" />

	<!--- Run map_server -->
	<node name="map_server" pkg="map_server" type="map_server" args="$(arg map)"/>

	<!-- Run AMCL -->
	<include file="$(find youbot_2dnav)/ros/launch/amcl.launch" />

	<!-- launch move_base node -->
	<include file="$(find youbot_2dnav)/ros/launch/move_base.launch" />
</launch>
