<?xml version="1.0"?>
<launch>
	<include file="$(find raw_gazebo_worlds)/ros/launch/$(env ROBOT_ENV).launch">
		<arg name="gazebo_arguments" value="-r -g" />
	</include>

	<param name="robot_description" command="$(find xacro)/xacro.py '$(find raw_hardware_config)/$(env ROBOT)/urdf/$(env ROBOT).urdf.xacro'"/>

	<node name="youbot_gazebo_model" pkg="gazebo" type="spawn_model" args="-urdf -param robot_description -model youBot -x 0.0 -y 0.0 -z 0.1" respawn="false" output="screen" />
	
	<include file="$(find youbot_description)/launch/control/youbot_base_control.launch" />
	<rosparam file="$(find raw_description)/controller/base_odometry.yaml" command="load" />

	<include file="$(find youbot_description)/launch/control/youbot_arm_control.launch" />
	<include file="$(find youbot_description)/launch/control/youbot_gripper_control.launch" />
	<include file="$(find raw_bringup)/components/arm.launch" />	
	
	<include file="$(find raw_teleop)/ros/launch/teleop_joypad.launch" />
	<include file="$(find raw_simulated_kinect)/ros/launch/simulated_kinect.launch" />	
</launch>
