<?xml version="1.0"?>
<launch>
	<!-- base components -->
	<include file="$(find youbot_bringup)/robots/youbot.launch" />

	<!-- navigation -->
	<include file="$(find youbot_2dnav)/ros/launch/youbot_2dnav.launch" />

	<!-- perception -->
		<!-- kinect -->
	<include file="$(find youbot_object_finder)/ros/launch/objectCandidateExtraction3D_node.launch" />
</launch>
