<?xml version="1.0"?>
<robot name="objects" xmlns:xacro="http://ros.org/wiki/xacro">	

	<include filename="$(find raw_description)/urdf/materials.urdf.xacro" />



	<xacro:macro name="rectangle" params="name parent width height length color *origin">
		<link name="${name}_link">
			<inertial>
				<insert_block name="origin" />
				<mass value="0.5" />
				<massMatrix value="0" />
			    <inertia  ixx="0.00001" ixy="0.0"  ixz="0.0"  iyy="0.00001"  iyz="0.0"  izz="0.00001" />
			</inertial>

			<visual>
				<insert_block name="origin" />
				<geometry>
					<box size="${length} ${width} ${height}"/>
				</geometry>
				<material name="Blue" />
			</visual>

			<collision>
				<insert_block name="origin" />
				<geometry>
			   		<box size="${length} ${width} ${height}"/>
				</geometry>
			</collision >
		</link>
		
	</xacro:macro>


	<xacro:rectangle name="square1" parent="dummy_link" width="0.05" height="0.05" length="0.05" color="Blue">
	    <origin xyz="1.5 0 0.1" rpy="0 0 0" />
	</xacro:rectangle>



 
</robot>
