<?xml version="1.0"?>
<launch>
    <!-- navigation goals -->
	<include file="$(find raw_default_env_config)/upload_param.launch" />
    
    <!-- visualize navigation goals -->
	<node pkg="raw_tools" type="navigation_goals_as_marker.py" name="raw_navigation_goals_as_marker"/>

	<arg name="map" default="$(find raw_default_env_config)/$(env ROBOT_ENV)/map.yaml" />

	<!--- Run map_server -->
	<node name="map_server" pkg="map_server" type="map_server" args="$(arg map)"/>

	<!-- Run AMCL -->
	<include file="$(find raw_2dnav_experimental)/ros/launch/amcl.launch" />

	<!-- launch move_base node -->
	<include file="$(find raw_2dnav_experimental)/ros/launch/move_base.launch" />

</launch>
