<?xml version="1.0"?>
<launch>
	<rosparam command="load" ns="/script_server/arm" file="$(find raw_default_robot_config)/$(env ROBOT)/arm_joint_configurations.yaml"/>
	
	<include file="$(find youbot_arm_navigation)/ros/launch/planning_environment.launch" />
	<include file="$(find youbot_arm_navigation)/ros/launch/constraint_aware_kinematics.launch" />
	<include file="$(find youbot_joint_trajectory_action)/ros/launch/youbot_joint_trajectory_action.launch" />
</launch>



