<?xml version="1.0"?>
<launch>

	<!-- start the hokuyo node -->
	<node type="hokuyo_node" pkg="hokuyo_node" name="hokuyo_front_node">  
		<param name="min_ang" type="double" value="-1.57" />
		<param name="max_ang" type="double" value="1.57" />
		<param name="port" type="string" value="/dev/youbot/hokuyo_front"/>
		<param name="frame_id" value="/base_laser_front_link"/>
		<remap from="/scan" to="/scan_front"/>
	</node>
</launch>
