<?xml version="1.0"?>
<launch>

	<!-- send ROBOT_ENV parameters to parameter server -->
	<rosparam command="load" ns="/script_server/arm" file="$(find raw_default_robot_config)/$(env ROBOT)/arm_joint_configurations.yaml"/>
	<rosparam command="load" ns="/script_server/gripper" file="$(find raw_default_robot_config)/$(env ROBOT)/gripper_joint_configurations.yaml"/>

</launch>
