<?xml version="1.0"?>
<launch>
	<rosparam command="load" ns="/script_server/arm/calibration_poses" file="$(find raw_kinect_calibration)/ros/config/arm_calibration_poses.yaml"/>
	<rosparam command="load" ns="/script_server/arm" file="$(find raw_kinect_calibration)/ros/config/arm_calibration_poses.yaml"/>

	<node name="ar_kinect" pkg="ar_kinect" type="ar_kinect" respawn="false" output="screen">
		<param name="marker_pattern_list" type="string" value="$(find raw_kinect_calibration)/ros/config/pattern_database.cfg"/>
		<param name="marker_data_directory" type="string" value="$(find ar_pose)"/>
		<param name="threshold" type="int" value="100"/>
	</node>	
	
</launch>
