<?xml version="1.0"?>
<launch>
	<!-- base components -->
	<include file="$(find raw_bringup)/robots/robot.launch" />
	
	<group>
		<machine name="pc1" address="youbot-hbrs2-pc1" default="true"/>
		
		<!-- manipulation -->
		<include file="$(find raw_arm_navigation)/ros/launch/simple_manipulation.launch" />		
		
		<!-- script server -->
		<include file="$(find raw_script_server)/launch/script_server.launch" />
	</group>
	
</launch>
